body {
    margin: 0;
    font-family: "Arial";
    font-size: 12px;
}

h1 {
    color: white;
    font-size: 20px;
}

h2 {
    color: white;
    font-size: 13px;
}

h3 {
    font-size: 13px;
}

div {

    padding: 5px 8px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box;

}

a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-family: Verdana, Arial, sans-serif;
}

a:hover {
    text-decoration: underline;
    color: green;
}

#promise {
    background-color: #CCFF99;
    font-size: 10px;
    width: 100%;
    position: relative;
    padding: 25px 25px 25px 25px;
    margin: 0 0 0 0;
}

#languages {
    float: right;
    margin-right: 10px;
}

#company {
    background-color: green;
    font-size: 10px;
    width: 1024px;
    height: 150px;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
}

#logo_and_slogan {
    background-color: gray;
    font-size: 20px;
    float: left;
    width: 25%;
    height: 140px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#sitemap {
    background-color: gray;
    font-size: 10px;
    float: right;
    width: 40%;
    height: 100%;
}

#login {
    background-color: red;
    font-size: 12px;
    float: left;
    width: 60%;
    height: 100%;
}

#shopping_cart {
    background-color: red;
    font-size: 12px;
    float: right;
    width: 40%;
    height: 100%;
}

#shopping_cart > div.elements {
    overflow-y: scroll;
    height: 80px;
}

#shopping_cart > div.elements > form > div {
    margin: 0px;
    padding: 0px;
}

#navigation_pane {
    background-color: black;
    height: 25px;
    width: 1024px;
    margin: 20px auto 20px auto;
}

#preview_pane {
    background-color: white;
    height: auto;
    width: 1024px;
    margin: 20px auto 20px auto;
}

#preview_image {
    width: 60%;
    float: left;
}

#customizing {
    width: 30%;
    float: left;
    padding-left: 50px;
}

.plant {
    float: left;
}

p {
    color: black;
}

#plants > div {
    display: inline-block;
    width: 200px;
}
#accessories > div {
    display: inline-block;
    width: 200px;
}
#search_results > div {
    display: inline-block;
    width: 33%;
    font-family: Verdana, Arial, sans-serif;
}
#search_results a {
    color: #275420;
    text-decoration: none;
}

#search_results a:hover {
    text-decoration: underline;
}
#search_results img {
    margin-right: 3px;
}
#search_results p.noResult {
    color: #275420;
    font-style: italic;
}

#login > form {
    margin-top: 5px;
}

#login > form > label {
    font-weight: bold;
    color: white;
}

#login > form > input {
    margin-bottom: 5px;
}

#login > form > button {
    margin-top: 10px;
}

#shopping_cart > div.title {
    font-weight: bold;
    color: white;
}

#order > div.split > div {
    width: 300px;
    float: left;
}

#order > div.split > div > label {
    font-weight: bold;
}

#order > div.split > div > input {
    margin-bottom: 5px;
}

#aOrder > div {
    margin-top: 10px;
    margin-left: 10px;
    border: 2px solid black;
    width: 420px;
    float: left;
}

#aOrder > div > div {
    margin-top: 5px;
    width: 400px;
}

#aOrder > div > div.new {
    border: 2px solid grey;
    background-color: lightgrey;
}

#aOrder > div > div.confirmed {
    border: 2px solid blue;
    background-color: lightblue;
}

#aOrder > div > div.payed {
    border: 2px solid green;
    background-color: lightgreen;
}
#search {
    margin: 0px;
    padding: 0px;
    position: relative;
    top: 6px;
}
#searchPreview {
    padding: 0;
}
#searchPreview > table {
    border-collapse: collapse;
    text-align: left;
    background: #fff;
    border: 1px solid #36752D;
}
#searchPreview > table td, #searchPreview > table th {
    padding: 3px 10px;
}
#searchBtn {
    background: transparent url(../pictures/search.png) center no-repeat;
    width: 16px;
    height: 16px;
    border-style: none;
    margin: 0px 3px 0px 3px;
}
#previewCloseBtn {
    background: transparent url(../pictures/close.png) center no-repeat;
    width: 16px;
    height: 16px;
    border-style: none;
    margin: 0px 3px 0px 3px;
}

#searchPreview table thead th {
    background-color: #36752D;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: bold;
    border-left: 1px solid #36752D;
}

#searchPreview table thead th:first-child {
    border: none;
}

#searchPreview table tbody {
    display: block;
    height: auto;
    width: auto;
    min-width: 200px;
    max-width: 500px;
    max-height: 200px;
    overflow-y: auto;
}

#searchPreview table tbody td {
    color: #275420;
    border-left: 1px solid #C6FFC2;
    font-size: 12px;
    font-weight: normal;
}

#searchPreview table tbody .alt td {
    background: #DFFFDE;
    color: #275420;
}

#searchPreview table tbody td:first-child {
    border-left: none;
}
#searchPreview table tbody td:last-child {
    text-align: right;
}
#searchPreview table tbody tr {
    border-bottom: 1px dashed #36752D;
}
#searchPreview table tbody tr:last-child td {
    border-bottom: none;
}
#searchPreview table tbody td.noResult {
    font-style: italic;
}

#searchPreview a {
    color: #275420;
    text-decoration: none;
    font-family: Verdana, Arial, sans-serif;
}

#searchPreview a:hover {
    text-decoration: underline;
}