body {
    margin: 0;
    font-family: "Arial";
    font-size: 12px;
}

h1 {
    color: #275420;
    font-size: 18px;
}

h2 {
    color: white;
    font-size: 13px;
}

h3 {

    color: black;
    font-size: 12px;
}


.descriptor {
    color:black;
    font-weight: bold;
}

div {
    padding: 5px 8px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box;
}

button {
    background-color: #98bf21;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid;
}

div .noPadding {

    padding: 0;
}

div .readOnly {

}

/* unvisited link */
a:link {
    color: #275420;
}

/* visited link */
a:visited {
    color: #275420;
}

/* mouse over link */
a:hover {
    color: #307E28;
}

/* selected link */
a:active {
    color: #307E28;
}

input:required:invalid, input:focus:invalid {
    background-image: url(../pictures/invalid.png);
    background-position: right top;
    background-repeat: no-repeat;
}
input:required:valid {
    background-image: url(../pictures/valid.png);
    background-position: right top;
    background-repeat: no-repeat;
}

.lang {
    color: #275420;
}

a.nav {
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 5px;
    font-family: Verdana, Arial, sans-serif;
}

a.nav:hover {
    background-color: #7A991A;
}

#promise {
    background-color: #98bf21;
    font-size: 12px;
    font-weight: bold;
    width: 100%;
    position: relative;
    padding: 25px 25px 25px 25px;
    margin: 0 0 0 0;
}

#languages {
    float: right;
    margin-right: 10px;
}

#company {
    background-color: white;
    border: 2px solid;
    border-radius: 10px;
    border-color: #275420;
    font-size: 10px;
    width: 1024px;
    height: 150px;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
}

#logo_and_slogan {
    font-size: 20px;
    float: left;
    width: 25%;
    height: 140px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#sitemap {
    border: 1px solid;
    border-color: #275420;
    border-radius: 10px;
    font-size: 10px;
    float: right;
    width: 40%;
    height: 100%;
}

#login {
    color: #275420;
    font-size: 12px;
    float: left;
    width: 50%;
    margin: 0 0 0 0;
    height: 100%;
}

#shopping_cart {
    font-size: 12px;
    float: right;
    width: 50%;
    height: 100%;
}

#shopping_cart > div.elements {
    overflow-y: scroll;
    height: 80px;
}

#shopping_cart > div.elements > form > div {
    margin: 0px;
    padding: 0px;
}

#navigation_pane {
    background-color: #98bf21;
    border-radius: 10px;
    height: 25px;
    width: 1024px;
    margin: 20px auto 20px auto;
}

#preview_pane {
    height: 900px;
    width: 1024px;
    margin: 20px auto 20px auto;
}

#plantOverview {
    float: left;
    width:600px;
}

#selected_plant {
    float: left;
}

#preview_image {
    float: left;
}

#preview_description {
    color: black;
    float: left;
    border-radius: 2px;
    border-color: #275420;
    border: 1px solid;
    padding-left: 15px;
    padding-right: 15px;
    margin: 6px;
    margin-left: 20px;
    width: 250px;
}

#customizing {
    width: 30%;
    float: right;
    padding-left: 5px;
    padding-top: 0;
}

#quantity {
    margin-top: 6px;
    width: 45%;
}

#addToCart {
    width: 50%;
}

#signup h2 {
    color: #275420;
}

#signup > table {
    text-align: left;
    background: #FFFFFF;
    width: 100%;
}

#signup table td.right {
    text-align: right;
}

#signup table tbody {
    height: auto;
    width: auto;
    max-height: 600px;
    overflow-y: auto;
}

#signup table tbody td {
    color: #275420;
    font-size: 12px;
    font-weight: normal;
}

#signup input {
    margin-top: 3px;
    float: right;
}

#user > div.split > div {
    width: 50%;
    float: left;
}

#user > div.split > div > label {
    font-weight: bold;
    position: relative;
    left: 0;
}

#user > div.split > div > input {
    margin-bottom: 5px;
    position: relative;
    right: 0;
}

.plant {
    float: left;
}

p {
    color: black;
}

p.loginRequired {
    color: red;
}

#plants > div {
    display: inline-block;
    width: 200px;
}

#accessories > div {
    display: inline-block;
    width: 200px;
}

#order_details h1 {
    color: #275420;
}

#order_details > table {
    border-collapse: collapse;
    text-align: left;
    background: #FFFFFF;
    border: 1px solid #36752D;
    width: 100%;
}

#order_details table td.right {
    text-align: right;
}

#order_details > table td, #order_details > table th {
    padding: 3px 10px;
}

#order_details table thead {
}

#order_details table thead th {
    background-color: #36752D;
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    border-left: 1px solid #36752D;
}

#order_details table thead th:first-child {
    border: none;
}

#order_details table tbody {
    height: auto;
    width: auto;
    max-height: 600px;
    overflow-y: auto;
}

#order_details table tbody td {
    color: #275420;
    border-left: 1px solid #C6FFC2;
    font-size: 12px;
    font-weight: normal;
}

#order_details table tbody td:first-child {
    border-left: none;
}

#order_details table tbody tr {
    border-bottom: 1px dashed #36752D;
}

#order_details table tbody tr:last-child td {
    border-bottom: none;
}

#order_details table tfoot td {
    color: #275420;
    font-size: 12px;
    font-weight: bold;
}

#order_details a {
    color: #275420;
    text-decoration: none;
}

#order_details a:hover {
    text-decoration: underline;
}

#order_details input {
    margin-top: 3px;
    float: right;
}

#order_confirm h2 {
    color: #275420;
}

#order_confirm > table {
    text-align: left;
    background: #FFFFFF;
    width: 100%;
}

#order_confirm table td.right {
    text-align: right;
}

#order_confirm table tbody {
    height: auto;
    width: auto;
    max-height: 600px;
    overflow-y: auto;
}

#order_confirm table tbody td {
    color: #275420;
    font-size: 12px;
    font-weight: normal;
}

#order_confirm input {
    margin-top: 3px;
    float: right;
}

#order > div.split > div {
    width: 50%;
    float: left;
}

#order > div.split > div > label {
    font-weight: bold;
    position: relative;
    left: 0;
}

#order > div.split > div > input {
    margin-bottom: 5px;
    position: relative;
    right: 0;
}

#search_results > div {
    display: inline-block;
    width: 33%;
    font-family: Verdana, Arial, sans-serif;
}

#search_results a {
    color: #275420;
    text-decoration: none;
}

#search_results a:hover {
    text-decoration: underline;
}

#search_results img {
    margin-right: 3px;
}

#search_results p.noResult {
    color: #275420;
    font-style: italic;
}

#login > form {
    margin-top: 5px;
}

#login > form > label {
    font-weight: bold;
    color: #275420;
}

#login > form > input {
    margin-bottom: 5px;
}

#login > form > button {
    margin-top: 10px;
}

#shopping_cart > div.title {
    font-weight: bold;
    color: #275420;
}

#aOrder > div {
    margin-top: 10px;
    margin-left: 10px;
    border: 2px solid black;
    width: 420px;
    float: left;
}

#aOrder > div > div {
    margin-top: 5px;
    width: 400px;
}

#aOrder > div > div.new {
    border: 2px solid grey;
    background-color: lightgrey;
}

#aOrder > div > div.confirmed {
    border: 2px solid blue;
    background-color: lightblue;
}

#aOrder > div > div.payed {
    border: 2px solid green;
    background-color: lightgreen;
}

#aOrder > div > div.apiKey {
    border: 1px solid black;
}

#aOrder div.invalidAddress {
    border: 1px solid red;
    background-color: lightcoral;
    margin: 5px;
    padding: 5px;
}

#search {
    margin: 0px;
    padding: 0px;
    position: relative;
    top: 6px;
}
#search a {
    margin-left: 6px;
    font-weight: bold;
}
#searchPreview {
    padding: 0;
}

#searchPreview > table {
    border-collapse: collapse;
    text-align: left;
    background: #fff;
    border: 1px solid #36752D;
}

#searchPreview > table td, #searchPreview > table th {
    padding: 3px 10px;
}

#searchBtn {
    background: transparent url(../pictures/search.png) center no-repeat;
    width: 16px;
    height: 16px;
    border-style: none;
    margin: 0px 3px 0px 3px;
}

#previewCloseBtn {
    background: transparent url(../pictures/close.png) center no-repeat;
    width: 16px;
    height: 16px;
    border-style: none;
    margin: 0px 3px 0px 3px;
}

#searchPreview table thead th {
    background-color: #36752D;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: bold;
    border-left: 1px solid #36752D;
}

#searchPreview table thead th:first-child {
    border: none;
}

#searchPreview table tbody {
    display: block;
    height: auto;
    width: auto;
    min-width: 200px;
    max-width: 500px;
    max-height: 200px;
    overflow-y: auto;
}

#searchPreview table tbody td {
    color: #275420;
    border-left: 1px solid #C6FFC2;
    font-size: 12px;
    font-weight: normal;
}

#searchPreview table tbody td:first-child {
    border-left: none;
}

#searchPreview table tbody td:last-child {
    text-align: right;
}

#searchPreview table tbody tr {
    border-bottom: 1px dashed #36752D;
}

#searchPreview table tbody tr:last-child td {
    border-bottom: none;
}

#searchPreview table tbody td.noResult {
    font-style: italic;
}

#searchPreview a {
    color: #275420;
    text-decoration: none;
    font-family: Verdana, Arial, sans-serif;
}

#searchPreview a:hover {
    text-decoration: underline;
}

.question {
    float: left;
    width: 100%;
    height: 30px;
    margin: 5px;
    font-size: 14px;
}

#plantwizard h2, h3 {
    color: #275420;
}
.answer {
    width: 33%;
    height: 100%;
    padding: 5px;
    float: left;

}
.answerButton {
    width: 300px;
    height: 40px;
    background-color: #98bf21;
    color: white;
    font-weight: bold;
    border-radius: 10px;
}
