<?php

/**
 * @return mysqli
 */
function getDBConnection(){
    $dbConnection = new mysqli("localhost", "gardener", "plants4home", "plantShop");
    $dbConnection->set_charset("utf8");

    return $dbConnection;
}

// report mysql errors
mysqli_report(MYSQLI_REPORT_ERROR);