<?php

/**
 * @return mysqli
 */
function getDBConnection(){
    $dbConnection = new mysqli("localhost", "dbuser", "password", "dbname");
    $dbConnection->set_charset("utf8");

    return $dbConnection;
}