h1
{
	color:white;
	font-size:20px;
}

h2 
{
	color:white;
	font-size:13px;
}

h3 
{
	font-size:13px;
}

div 
{

padding:5px 8px;
-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
-moz-box-sizing: border-box;    /* Firefox, other Gecko */
box-sizing: border-box;

}

a {
	color: white;
	text-decoration: none;
	font-weight: bold;
	font-family: Verdana, Arial, sans-serif;
}

a:hover {

	text-decoration: underline;
	color:green;

}

	
#shippingform {
	
	display:table;

	
}


#shippingform .attribute {
	
	
	display:table-row;
	
}


#shippingform .attribute * {

 display:table-cell;

}
	

#style_sitemap
{
color:white;
font-style:bold;
}

	
#style_navigation_pane
{
color:white;
font-style:bold;
}


/* Top Element with slogan "Plants to live with - shipping to your home etc."  */

#promise
{
background-color:CCFF99;
font-family:"Arial";
font-size:10px;
width:100%;


position:relative;
margin-top: -10px;
margin-left: -10px;
margin-right: -10px;

padding-top:25px;
padding-bottom:25px;
padding-left:25px;
padding-right:25px;
}


#languages
{
font-family:"Arial";
float:right;

margin-right: 10px;
}



/* Container for #logo_and_slogan + #sitemap */

#company
{
background-color:green;
font-family:"Arial";
font-size:10px;

width:1024px;
height:150px;

margin-top: 70px;
margin-left: auto;
margin-right: auto;
}

/* only logo and slogan */


#logo_and_slogan
{
background-color:gray;
font-family:"Arial";
font-size:20px;
float:left;
width:25%;

height:140px;

padding-top:5px;
padding-bottom:5px;
}

/* contains login and shoppingcart */

#sitemap
{
background-color:gray;
font-family:"Arial";
font-size:10px;
float:right;
width:40%;
height:100%;
}

/* contains login, help, contact */

#login 
{
background-color:red;
font-family:"Arial";
font-size:12px;
float:left;
width:60%;
height:100%;
}

/* view on shopping cart and total amount */

#shopping_cart
{
background-color:red;
font-family:"Arial";
font-size:12px;
float:right;
width:40%;
height:100%;
}

/* container for all menu options */

#navigation_pane
{
background-color:black;
margin:auto;
height:25px;
width: 1024px;

margin-top:20px;
margin-bottom:20px;
margin-left: auto;
margin-right: auto;

}

#preview_pane
{
background-color:white;
height:auto;
width: 1024px;

margin-top:20px;
margin-bottom:20px;
margin-left: auto;
margin-right: auto;

}


#preview_image
{
width:60%;

float: left;
}

#customizing
{
width:30%;

float: left;
padding-left: 50px;
}


#tabletest
{
font-size: 14px;
}

.plant
{
float:left;
}

p {

 color:black;

}


#plants > div
{

 display:inline-block;
 width:200px;

}